n8n-workflows/media-to-text-workflow.json
{
  "meta": {
    "instanceId": "osm-notes-media-to-text"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "media-to-text",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Media to Text Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "media-to-text-endpoint"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "messageType": "multiModal",
          "text": "=You are an expert transcription and image analysis AI. Convert the provided audio or image content to accurate text transcription. For audio: provide exact transcription. For images: describe what you see in detail, focusing on text content if present, landmarks, signs, or notable features. The location coordinates are: {{ $json.coordinates?.lat }}, {{ $json.coordinates?.lng }}. Context: This is for OpenStreetMap note-taking.",
          "imageUrls": "={{ $json.media?.type === 'image' ? [$json.media.data] : [] }}",
          "audioUrls": "={{ $json.media?.type === 'audio' ? [$json.media.data] : [] }}"
        },
        "options": {}
      },
      "id": "ai-transcription",
      "name": "AI Agent Node",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI Credentials"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"transcription\": \"{{ $json.choices[0].message.content }}\",\n  \"coordinates\": {{ JSON.stringify($('Media to Text Webhook').item.json.coordinates) }},\n  \"media_type\": \"{{ $('Media to Text Webhook').item.json.media?.type }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "response-node",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error?.message || 'Transcription failed' }}\",\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}",
        "options": {}
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 420]
    }
  ],
  "connections": {
    "Media to Text Webhook": {
      "main": [
        [
          {
            "node": "AI Agent Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Node": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.101.1",
  "id": "media-to-text-workflow",
  "name": "OSM Notes - Media to Text API"
}